backend/venv
backend/.vscode/
backend/.DS_Store
backend/__pycache__/
backend/kudos_api/*.db
backend/.env


# dependencies
frontend/node_modules

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/package-lock.json
backend/kudos_api/routes/public/__pycache__/user.cpython-36.pyc
backend/kudos_api/routes/public/__pycache__/kudos.cpython-36.pyc
backend/kudos_api/routes/public/__pycache__/slack.cpython-36.pyc
backend/kudos_api/__pycache__/__init__.cpython-36.pyc
backend/kudos_api/__pycache__/models.cpython-36.pyc
backend/kudos_api/__pycache__/serializers.cpython-36.pyc
backend/kudos_api/__pycache__/services.cpython-36.pyc
